.assets{
    box-sizing: border-box;
}

.gui-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 15px 20px;
    background-color: #fff;
    color: #00a89b;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
}

.gui-title h1{
    flex: 2;
    order: 1;
    font-size: 14px;
}

.options{
    order:2;
}