
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 18px 30px;
    background-color: #214e61;
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.28);
    z-index: 100;
    display: flex;
    justify-content: space-between;
}