<div class="menu">
  <div class="logo">
    <img/>
  </div>
  <div class="options">
    <button>
      <i class="fa fa-mail-forward"></i>
      <i class="fa fa-database"></i>
      <span>Asset Management</span>
    </button>
  </div>
  <div class="user-menu">
      <button class="btn-base"> 
        <i class="fa fa-refresh" aria-hidden="true"></i> Change Book 
      </button> <button class="btn-base"> 
        <i class="fa fa-power-off" aria-hidden="true"></i> demo 
      </button> 
  </div>
</div>